# INTRODUCCIÓN A LA PROGRAMACIÓN CON PYTHON I

## Módulo 4 - Loops

### Recap
- Variables
- Tipos de datos
- Expresiones (evaluaciones de operaciones, ya sean funcionales o lógicas)
- Declaraciones (funcional, asignación, control de flujo)
- Listas

### Bucles de secuencia (nadie dice eso, todo mundo le dice *for loops* o *sequence-based loops*)

Un `for` loop va a circular a través de los valores en una lista para hacer algo. Por ejemplo:

In [ ]:
for i in [1,2,3,4,5]:    # más adelante ahondaremos en esta estructura de datos que se llama "lista"
    print(i)             # lo que estamos haciendo es imprimir cada uno de los números en la lista anterior

1
2
3
4
5

En general:

```
for <variable> in <list/sequence/iterable>:
    <statements>
```

Las listas a recorrer para obtener valores pueden tener cualquier tipo de datos: enteros, texto e incluso otros datos más complejos. Veamos algunos ejemplos:

In [ ]:
# Otro ejemplo: imprimamos la calificación de cada alumna junto con su nombre
estudiantes = ["Jacinta", "María", "Ana Paula"]
califs = [97, 84, 91]

for e, c in zip(estudiantes, califs):   ## Más adelante ahondaremos en zip
    print(e, "obtuvo:", c)

Jacinta obtuvo: 97
María obtuvo: 84
Ana Paula obtuvo: 91

Con las calificaciones anteriores, cómo sacaríamos el promedio del grupo?

In [ ]:
califs = [97, 84, 91]
prom = 0
count = 0

for c in califs:
    prom += c
    count += 1
    print("alumna:", count, "calif:", c, "suma:", prom)


print("Promedio:", prom/count)

alumna: 1 calif: 97 suma: 97
alumna: 2 calif: 84 suma: 181
alumna: 3 calif: 91 suma: 272
Promedio: 90.66666666666667

In [ ]:
sum(califs) / len(califs)

90.66666666666667

Paso por paso, ¿qué está pasando?
1. Para cada calificación, estamos sumando los valores en una variable `prom`
2. Para poder saber cuántas calificaciones hay, definimos una variable "contadora": `count`
3. El loop circula a través de toda la lista, sumando los valores en `prom` y contando el número de calificaciones en  `count`. Al final dividimos la suma de calificaciones entre el número de calificaciones para obtener el promedio.

In [ ]:
## Supongamos que queremos sacar el promedio de las alumnas que sacaron 90 o más:
califs = [97, 84, 91, 91, 85, 89, 76]
prom = 0
count = 0

for c in califs:
    if c >= 90:
        prom += c
        count += 1
    print("alumna:", count, "calif:", c, "suma:", prom)

print("Promedio:", prom/count)

alumna: 1 calif: 97 suma: 97
alumna: 1 calif: 84 suma: 97
alumna: 2 calif: 91 suma: 188
alumna: 3 calif: 91 suma: 279
alumna: 3 calif: 85 suma: 279
alumna: 3 calif: 89 suma: 279
alumna: 3 calif: 76 suma: 279
Promedio: 93.0

OMAIGAD, ¿qué fue eso? Metimos un `if` adentro de un `for`. De esta manera, podemos circular a través de toda la lista y tomar sólo aquellas calificaciones que son mayores a 90 (el valor que queremos). Noten cómo solo deberíamos sumar y contar las calificacions si cumplen esa condición.

¿Pero qué hicimos mal? Este es un ejemplo donde la indentación es muy importante! No solo la suma de las calificaciones debe estar adentro del `if`, sino también la cuenta de calificaciones.

In [ ]:
## Esta es la indentación correcta:
califs = [97, 84, 91, 91, 85, 89, 76]
prom = 0
count = 0

for c in califs:
    if c >= 90:
        prom += c
        count += 1
        print("alumna:", count, "calif:", c, "suma:", prom)

print("Promedio:", prom/count)

alumna: 1 calif: 97 suma: 97
alumna: 2 calif: 91 suma: 188
alumna: 3 calif: 91 suma: 279
Promedio: 93.0

#### Ejercicio
Supongamos que una AFORE está considerando cobrar una comisión anual por el total de dinero invertido. ¿Cuánto podría recaudar la AFORE a distintos niveles de comisiones para los siguientes clientes?

Comisiones a evaluar: `0.5%`, `0.75%`, `1.25%`

In [ ]:
total_inv = [90.5, 129.1, 359.2, 12.2, 15.5, 4.9, 19.1, 2.5, 188.4]
fees = [0.005, 0.0075, 0.0125]

¿Cómo haríamos este ejercicio para sólo una comisión?

In [ ]:
fee = 0.005    # Empecemos con el 0.5%

total_fees = 0              # Inicializamos un acumulador en cero
for t in total_inv:
    total_fees += fee*t       # Para cada inversión, sumamos al acumulador el valor de la comisión f*t
print("Total fees at a rate of", fee, "are", total_fees)

fee = 0.0075   # Empecemos con el 0.5%

total_fees = 0              # Inicializamos un acumulador en cero
for t in total_inv:
    total_fees += fee*t       # Para cada inversión, sumamos al acumulador el valor de la comisión f*t
print("Total fees at a rate of", fee, "are", total_fees)

fee = 0.0125    # Empecemos con el 0.5%

total_fees = 0              # Inicializamos un acumulador en cero
for t in total_inv:
    total_fees += fee*t       # Para cada inversión, sumamos al acumulador el valor de la comisión f*t
print("Total fees at a rate of", fee, "are", total_fees)

Total fees at a rate of 0.005 are 4.107
Total fees at a rate of 0.0075 are 6.160499999999999
Total fees at a rate of 0.0125 are 10.2675

Ahora, podemos reciclar este mismo trozo de código para obtener el mismo cálculo para las otras dos comisiones. Una línea extra de código es todo lo necesario obtener lo que queremos.

In [ ]:
total_inv = [90.5, 129.1, 359.2, 12.2, 15.5, 4.9, 19.1, 2.5, 188.4]
fees = [0.005, 0.0075, 0.0125]
for f in fees:
    total_fees = 0
    for t in total_inv:
        total_fees += f*t
    print("Total fees at a rate of", f, "are", total_fees)

Total fees at a rate of 0.005 are 4.107
Total fees at a rate of 0.0075 are 6.160499999999999
Total fees at a rate of 0.0125 are 10.2675

Oops, ¿qué pasó? Algo mal hicimos porque estamos obteniendo 3 veces el mismo resultado. Vamos paso por paso:

1. Para la primera comisión `f` en la lista `fees`:
2. Inicializa en 0 el contador `total_fees` que acumulará el total de comisiones a cobrar a dicha tasa
3. Luego, para cada `t` en la lista con inversiones `total_inv`:
4. Sumar a la variable `total_fees` el valor de `fee` multiplicado por la inversión `t` <span style="color:red">**!!!!!!**</span>

Se nos olvidó cambiar el nombre de `fee` por la `f` que usamos en el loop. Mucho ojo con renombrar las variables cuando reciclamos código. Un error muy común, sobre todo cuando se trabaja con cuadernos jupyter, es no cambiar las variables o reutilizar los mismos nombres y esto puede tener efectos muy indeseables.

Ahora sí, corrigiendo `fee` por `f`:

In [ ]:
for f in fees:
    total_fees = 0
    for t in total_inv:
        total_fees =+ f*t
    print("Total fees at a rate of", f, "are", total_fees)

Total fees at a rate of 0.005 are 0.9420000000000001
Total fees at a rate of 0.0075 are 1.413
Total fees at a rate of 0.0125 are 2.355

¿Qué hicimos? Un `nested loop`, o sea, un loop adentro de un loop. Esta es una forma de poder repetir una misma operación (p.ej. obtener la comisión total) para un conjunto de datos (todos los clientes). 

Vamos paso por paso:
1. Para la primera comisión `f` en la lista `fees`:
2. Inicializa el contador `total_fees` que acumulará el total de comisiones a cobrar a dicha tasa
3. Luego, para cada `t` en la lista con inversiones `total_inv`:
4. Sumar a la variable `total_fees` el valor de `f` multiplicado por la inversión `t`
5. Imprime el valor total de las comisiones a cobrar `total_fees` a la tasa `f`
6. Repetir con las comisiones subsecuentes


Este ejercicio de regresar a nuestro código y ver paso a paso qué estábamos haciendo para encontrar el error se le conoce como **debugging**. En programación, a los errores en el código se les conoce como `bugs`, y el acto de corregir esos errores se llama `debugging`. Normalmente, el debugging no es un proceso corto, feliz, o agradable, pero es necesario para que nuestro código haga lo que queremos que haga. 

A medida que vamos escribiendo código, es importante probar que los scripts que hacemos efectivamente hacen lo que queremos. De lo contrario, si encontramos un error después de escribir 100 líneas de código, será mucho más difícil encontrar dónde está el error.


#### Ejercicio 
Supongamos ahora que la AFORE quiere cobrar al menos $1 de comisión para cada cliente. Vuelve a calcular cuánto recaudaría la AFORE para los 3 niveles de comisión mencionados al principio del ejercicio.

In [ ]:
for f in fees:
    total_fees = 0
    for t in total_inv:
        fee = f*t               # ¿por qué escribo esto aquí?
        if fee < 1:
            total_fees += 1
        else:                     # ¿por qué else? ¿por qué no elif?
            total_fees += fee
    print("Total fees at a rate of", f, "are", total_fees)

Total fees at a rate of 0.005 are 9.796
Total fees at a rate of 0.0075 are 11.107
Total fees at a rate of 0.0125 are 14.59

In [ ]:
import numpy
for f in fees:
    total_fees = 0
    for t in total_inv:
        fee = f*t                 # ¿por qué escribo esto aquí?
        min_value = np.max([1, fee])
        total_fees =+ min_value
    print("Total fees at a rate of", f, "are", total_fees)

Total fees at a rate of 0.005 are 1.0
Total fees at a rate of 0.0075 are 1.413
Total fees at a rate of 0.0125 are 2.355

Esto fue muy similar al ejercicio de las calificaciones. Si la inversión es menor a 1, le añadimos el 1 por default; de lo contrario, añadimos el valor que corresponde (que naturalmente sería mayor a 1).

#### Ejercicio
Supongamos que los usuarios no están dispuestos a aceptar ninguna comisión que reduzca el 1% o más de su inversión. Si la comisión redujera en 1% o más la riqueza del usuario, dicho usuario se cambiaría de AFORE inmediatamente antes de que la AFORE pudiera empezar a cobrar por sus servicios. 

La AFORE sigue queriendo cobrar al menos $1 de comisión para cada cliente. Vuelve a calcular cuánto recaudaría la AFORE para los 3 niveles de comisión mencionados al principio del ejercicio.¿Cuánto podría recaudar la AFORE con esta estructura?

In [ ]:
for f in fees:
    total_fees = 0
    for t in total_inv:
        fee = f*t
        max_fee = 0.01 * t    # 1% del valor total de la inversión
        
        if fee < 1:
            if 1 < max_fee:
                total_fees += 1   
            else:                 # acaso necesitamos este else aquí?
                total_fees += 0
        else:
            if fee < max_fee:
                total_fees += fee
            else:                 # misma pregunta que arriba
                total_fees += 0
    print("Total fees at a rate of", f, "are", total_fees)

Total fees at a rate of 0.005 are 3.7960000000000003
Total fees at a rate of 0.0075 are 5.107
Total fees at a rate of 0.0125 are 0

En el ejemplo anterior, cuando el fee a cobrar es mayor al max fee, en realidad no queremos sumar nada a nuestro acumulador. En esos casos, simplemente queremos seguir al próximo valor de la inversión de los clientes. 

Para lograrlo tenemos algunas alternativas. La primera es quitar por completo el else, ya que nada necesita suceder en el caso complementario al `if`.

In [ ]:
for f in fees:
    total_fees = 0
    for t in total_inv:
        fee = f*t
        max_fee = 0.01 * t    # 1% del valor total de la inversión
        
        if fee < 1:
            if 1 < max_fee:
                total_fees += 1
        else:
            if fee < max_fee:
                total_fees += fee
    print("Total fees at a rate of", f, "are", total_fees)

Total fees at a rate of 0.005 are 3.7960000000000003
Total fees at a rate of 0.0075 are 5.107
Total fees at a rate of 0.0125 are 0

La segunda opción es usar `pass`, una función cuyo trabajo es no hacer nada. Esto puede ser útil para nosotros leer el código y darnos cuenta que ahí no hay nada que hacer. Cuando no estamos completamente seguros que hay que hacer algo, `pass` es una función útil.

Sin embargo, `pass` puede ser confusa en el futuro si volvemos a la función y vemos un espacio vacío. Si se usa, debemos usar al menos un comentario que diga por qué no implementamos nada ahí. 

La mejor solución en este caso sería que, una vez que nos percatamos que no necesitamos un `else`, eliminar esas declaraciones que solo ocupan espacio.

In [ ]:
for f in fees:
    total_fees = 0
    for t in total_inv:
        fee = f*t
        max_fee = 0.01 * t    # 1% del valor total de la inversión
        
        if fee < 1:
            if 1 < max_fee:
                total_fees += 1   
            else:                 # podemos usar pass para cuando no queremos que suceda nada
                pass              # esto nos es útil si hay comentarios diciendo por qué usamos pass
        else:
            if fee < max_fee:
                total_fees += fee
            else:                 
                pass
    print("Total fees at a rate of", f, "are", total_fees)

Total fees at a rate of 0.005 are 3.7960000000000003
Total fees at a rate of 0.0075 are 5.107
Total fees at a rate of 0.0125 are 0

#### Ejercicio: función `range()`
Es común querer hacer loops en un rango de números, para ello hay funciones útiles como range(). Supongamos que queremos calcular cuántos números divisibles entre 3 y 7 hay en los primeros 20 números naturales. ¿Cómo lo hacemos?

In [ ]:
count = 0

for i in range(1, 21):
    print(i)
    if i % 3 == 0:
        print(i, "divisble by", 3)
        count += 1
    elif i % 7 == 0:
        print(i, "divisble by", 7)
        count += 1
        
print("Total of", count, "numbers divisible by 3 or 7")

1
2
3
3 divisble by 3
4
5
6
6 divisble by 3
7
7 divisble by 7
8
9
9 divisble by 3
10
11
12
12 divisble by 3
13
14
14 divisble by 7
15
15 divisble by 3
16
17
18
18 divisble by 3
19
20
Total of 8 numbers divisible by 3 or 7

Una forma más sucinta de escribir lo mismo es agrupar ambas condiciones en una misma línea:

In [ ]:
count = 0

for i in range(1, 21):
    if i % 3 == 0 or i % 7 == 0:
        count += 1
        
print("Total of", count, "numbers divisible by 3 or 7")

Total of 8 numbers divisible by 3 or 7

La función `range`, así como otras funciones en Python, inician en cero. Así que si ponemos `range(3)`, el primer valor que regresará la función es el cero. Además, la función range es NO INCLUSIVA del último valor. Esto quiere decir que si ejecutamos `range(5)`, contaremos hasta el 5, pero sin incluir el 5. Por ejemplo:

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

Estamos efectivamente obteniendo 5 valores, pero iniciando desde el número cero. 

¿Cómo haríamos para obtener del 1 al 5 usando la función `range`?

In [ ]:
for i in range(1, 5 + 1):
    print(i)

1
2
3
4
5

#### Ejercicio: `zip`

La función `zip` nos va a ayudar a tomar dos listas y en vez de solo usar un valor, poder extraer, en orden, los i-ésimos valores de cada lista proporcionada. 

Con los siguientes datos, determine cuánto debe pagar de impuestos en la compra. Las tasas de impuestos son:
- ropa, 8.25% si cuesta más de $100
- muebles, 10.50%
- comida, no paga impuestos

In [ ]:
## Ejercicio 1
items = ['ropa', 'ropa', 'ropa', 'muebles', 'comida', 'ropa', 'comida']
precios = [12.99, 24.99, 19.99, 159.99, 35.84, 119.99, 23.98]
marcas = ["f", "s", "r", "t", "b", "g"]

In [ ]:
list(zip(items, precios, marcas))

[('ropa', 12.99, 'f'),
 ('ropa', 24.99, 's'),
 ('ropa', 19.99, 'r'),
 ('muebles', 159.99, 't'),
 ('comida', 35.84, 'b'),
 ('ropa', 119.99, 'g')]

In [ ]:
list(zip(items, precios))[3][1]

159.99

In [ ]:
impuesto = 0
tx_ropa = 0.00825
tx_mueb = 0.1050

for item, precio in zip(items, precios):
    if item == 'ropa' and precio > 100:
        impuesto += precio*tx_ropa
    elif item == 'muebles':
        impuesto += precio*tx_mueb
    
print(impuesto)

17.788867500000002

In [ ]:

for item, precio, marca in zip(items, precios, marcas):
  print(item, precio, marca)

ropa 12.99 f
ropa 24.99 s
ropa 19.99 r
muebles 159.99 t
comida 35.84 b
ropa 119.99 g

Repite el mismo ejercicio añadiendo las siguientes condiciones:
    - ropa para 5% si cuesta $100 o menos
    - todos los demás artículos pagan el 1% de impuesto

#### Ejercicio: `break`
Supongamos que queremos identificar el primer número que sea divisible entre 3 y 7.

In [ ]:
n = 0
for i in range(1, 100):
    if i % 3 == 0 and i % 7 == 0:
        print(i, "divisible by 3 and 7")
        n += 1
        if n == 2:
          break

21 divisible by 3 and 7
42 divisible by 3 and 7

La función `break` interrumpe un loop cuando es ejecutado.  En este caso, cuando llegamos a un número que cumplió la condición que estábamos buscando, ejecutamos `break` para dejar de circular a través del resto de los valores de `range`. 

No sólo es una función conveniente, sino que también es eficiente. Esta operación pudo haber tardado casi 5 veces más si no hubiéramos usado `break` (nos detuvimos en el 21, en vez de tener que recorrer hasta el 99). La **eficiencia** es algo de lo que casi no nos hemos ocupado hasta ahora, pero es importante considerarla. Pronto veremos ejemplos donde nos daremos cuenta de lo importante que es pensar en la eficiencia de nuestras implementaciones.

### Bucles condicionales (así se dice en español, pero se les conoce como *while loops* o *condition-based loops*)

Los `while loops` son similares a los `for loops` en el sentido de que también repetirán un bloque de código. La diferencia es que los `while` se ejecutan mientras una condición sea verdadera/se esté cumpliendo, en contraste a los `for` que se ejecutan solo para una lista de valores. 

En general:

```
while <boolean>:
    <statements>
```

Retomemos el ejemplo que acabamos de revisar con `break`. Esta misma solución la podemos reescribir usando un `while loop`:

In [ ]:
i = 1

while not (i % 3 == 0 and i % 7 == 0):
    print(i)   # while True hará que lo que está dentro del loop se ejecute
    i += 1

print(i, "divisible by 3 and 7")

1 divisible by 3 and 7

Ese recordatorio de lógica de la primera clase nos resulta muy útil para este tipo de loops. Mientras no se cumpla una condición, en este caso que un número sea divisible entre 3 y entre 7), aumenta el valor de i (para poder evaluar el siguiente número). Una vez que llegamos al número 21:

```
while not (True)
```

se evaluará como 

```
while False
```

Si recuerdan, not True -> False.

Entonces, al evaluar un Falso, el `while` se detiene.


Los `while` loops son un poco delicados, ya que podemos caer en lo que se conoce como un loop infinito. A veces escribimos cosas que creemos son correctas, pero que harán que el while nunca deje de correr. 

Se sugiere tener `print()` statements cuando se usen whiles o tratar de escribir lo mismo con un `for` loop. Casi siempre se puede escribir lo mismo con un `for` y un break. Casi.

In [ ]:
## Ejemplo
i = 0
while not (i % 3 == 0 and i % 7 == 0):
  # while True hará que lo que está dentro del loop se ejecute
    i += 1
    print(i)

In [ ]:
print(i, "divisible by 3 and 7")  # Nunca nos movimos del 0 porque se nos olvidó añadirle 1 a i

0 divisible by 3 and 7

## Ejercicios

## Sortear una lista

In [ ]:
l = [-5, -23, 5, 0, 23, -6, 23, 67]

### Ejercicios

Crea una función que ordene una lista

Pistas: 
1. Puedes usar dos loops
2. Puedes crear una nueva lista
3. Puedes usar append y remove

In [ ]:
l = [-5, -23, 5, 0, 23, -6, 23, 67]

def sort_list(data_list):
    
    new_list = []
    print(data_list)
    print(new_list)
    while data_list:
        print("#### ITERATION ####")
        minimum = data_list[0]  # arbitrary number in list 
        for x in data_list: 
            if x < minimum:
                minimum = x
        print(minimum)
        new_list.append(minimum)
        data_list.remove(minimum)  
        print(new_list)
        print(data_list)  

    return new_list

sort_list(l)

[-5, -23, 5, 0, 23, -6, 23, 67]
[]
#### ITERATION ####
-23
[-23]
[-5, 5, 0, 23, -6, 23, 67]
#### ITERATION ####
-6
[-23, -6]
[-5, 5, 0, 23, 23, 67]
#### ITERATION ####
-5
[-23, -6, -5]
[5, 0, 23, 23, 67]
#### ITERATION ####
0
[-23, -6, -5, 0]
[5, 23, 23, 67]
#### ITERATION ####
5
[-23, -6, -5, 0, 5]
[23, 23, 67]
#### ITERATION ####
23
[-23, -6, -5, 0, 5, 23]
[23, 67]
#### ITERATION ####
23
[-23, -6, -5, 0, 5, 23, 23]
[67]
#### ITERATION ####
67
[-23, -6, -5, 0, 5, 23, 23, 67]
[]

[-23, -6, -5, 0, 5, 23, 23, 67]

In [ ]:
l = [-5, -23, 5, 0, 23, -6, 23, 67]
l

[-5, -23, 5, 0, 23, -6, 23, 67]

In [ ]:
l[1], l[4] = l[4], l[1]

In [ ]:
l

[-5, 23, 5, 0, -23, -6, 23, 67]

In [ ]:
l = [-5, -23, 5, 0, 23, -6, 23, 67]
def sort_list2(l):

    for i in range(len(l)):
        print("### Iteraction " + str(i))
        print(l[i])
        for j in range(i + 1, len(l)):
            print(l[j])
            if l[i] > l[j]:
               print(l)
               l[i], l[j] = l[j], l[i]
               print(l)

    return l

sort_list2(l)

### Iteraction 0
-5
-23
[-5, -23, 5, 0, 23, -6, 23, 67]
[-23, -5, 5, 0, 23, -6, 23, 67]
5
0
23
-6
23
67
### Iteraction 1
-5
5
0
23
-6
[-23, -5, 5, 0, 23, -6, 23, 67]
[-23, -6, 5, 0, 23, -5, 23, 67]
23
67
### Iteraction 2
5
0
[-23, -6, 5, 0, 23, -5, 23, 67]
[-23, -6, 0, 5, 23, -5, 23, 67]
23
-5
[-23, -6, 0, 5, 23, -5, 23, 67]
[-23, -6, -5, 5, 23, 0, 23, 67]
23
67
### Iteraction 3
5
23
0
[-23, -6, -5, 5, 23, 0, 23, 67]
[-23, -6, -5, 0, 23, 5, 23, 67]
23
67
### Iteraction 4
23
5
[-23, -6, -5, 0, 23, 5, 23, 67]
[-23, -6, -5, 0, 5, 23, 23, 67]
23
67
### Iteraction 5
23
23
67
### Iteraction 6
23
67
### Iteraction 7
67

[-23, -6, -5, 0, 5, 23, 23, 67]

In [ ]:
l = [-5, -23, 5, 0, 23, -6, 23, 67] 
def bubbleSort(arr):
    #copy the original array
    output = arr[:]

    #set up start condition for loop
    sorted = False
    while sorted == False:
        print("### ITERACION")
        sorted = True

        for index in range(1,len(output)):
            print(output[index - 1], ">", output[index])
            
            #if adjacent elements are out of order
            if output[index - 1] > output[index]:
                print(output)
                #prepare to go through array one more time
                sorted = False

                #swap current value with the previous one
                temp = output[index]
                output[index] = output[index - 1]
                output[index - 1] = temp
                print(output)
                
    return output
bubbleSort(l)

### ITERACION
-5 > -23
[-5, -23, 5, 0, 23, -6, 23, 67]
[-23, -5, 5, 0, 23, -6, 23, 67]
-5 > 5
5 > 0
[-23, -5, 5, 0, 23, -6, 23, 67]
[-23, -5, 0, 5, 23, -6, 23, 67]
5 > 23
23 > -6
[-23, -5, 0, 5, 23, -6, 23, 67]
[-23, -5, 0, 5, -6, 23, 23, 67]
23 > 23
23 > 67
### ITERACION
-23 > -5
-5 > 0
0 > 5
5 > -6
[-23, -5, 0, 5, -6, 23, 23, 67]
[-23, -5, 0, -6, 5, 23, 23, 67]
5 > 23
23 > 23
23 > 67
### ITERACION
-23 > -5
-5 > 0
0 > -6
[-23, -5, 0, -6, 5, 23, 23, 67]
[-23, -5, -6, 0, 5, 23, 23, 67]
0 > 5
5 > 23
23 > 23
23 > 67
### ITERACION
-23 > -5
-5 > -6
[-23, -5, -6, 0, 5, 23, 23, 67]
[-23, -6, -5, 0, 5, 23, 23, 67]
-5 > 0
0 > 5
5 > 23
23 > 23
23 > 67
### ITERACION
-23 > -6
-6 > -5
-5 > 0
0 > 5
5 > 23
23 > 23
23 > 67

[-23, -6, -5, 0, 5, 23, 23, 67]

In [ ]:
l = [-5, -23, 5, 0, 23, -6, 23, 67]

In [ ]:
l

[-5, -23, 5, 0, 23, -6, 23, 67]

In [ ]:
import timeit

def t_sort_list2():
    sort_list2(l)
    
def t_sort_list():
    sort_list(l)
    
def t_sorted():
    sorted(l)
    
def t_sort():
    l.sort()

def t_bubbleSort():
    bubbleSort(l)

print(len(l))
l = [-5, -23, 5, 0, 23, -6, 23, 67]
print(timeit.timeit(t_sort_list))
l = [-5, -23, 5, 0, 23, -6, 23, 67]
print(len(l))
print(timeit.timeit(t_sort_list2))
l = [-5, -23, 5, 0, 23, -6, 23, 67]
print(len(l))
print(timeit.timeit(t_bubbleSort))
l = [-5, -23, 5, 0, 23, -6, 23, 67]
print(len(l))
print(timeit.timeit(t_sorted))
l = [-5, -23, 5, 0, 23, -6, 23, 67]
print(len(l))
l = [-5, -23, 5, 0, 23, -6, 23, 67]
print(timeit.timeit(t_sort))
print(len(l))

0
0.18187318800028152
8
4.281332655999904
8
4.966725254000266
8
0.4873692419996587
8
0.24215427599938266
8

In [ ]:
l = [-5, -23, 5, 0, 23, -6, 23, 67]
l_50 = l * 2

In [ ]:
len(l_50)

0

In [ ]:
import timeit

def t_sort_list2():
    sort_list2(l_50)
    
def t_sort_list():
    sort_list(l_50)
    
def t_sorted():
    sorted(l_50)
    
def t_sort():
    l_50.sort()

def t_bubbleSort():
    bubbleSort(l_50)

l = [-5, -23, 5, 0, 23, -6, 23, 67]
l_50 = l * 2
print(timeit.timeit(t_sort_list))
l = [-5, -23, 5, 0, 23, -6, 23, 67]
l_50 = l * 2
print(timeit.timeit(t_sort_list2))
l = [-5, -23, 5, 0, 23, -6, 23, 67]
l_50 = l * 2
print(timeit.timeit(t_bubbleSort))
l = [-5, -23, 5, 0, 23, -6, 23, 67]
l_50 = l * 2
print(timeit.timeit(t_sorted))
l = [-5, -23, 5, 0, 23, -6, 23, 67]
l_50 = l * 2
print(timeit.timeit(t_sort))

0.18225547299971367
11.479604395999559
20.13502121900001
0.8445497739994607
0.3303707929999291

In [ ]:
l = [1, 5, 3,9]
l_volteada = [9,3,5,1]

In [ ]:
s = "cide2021"
s_volteada = "1202edic"

### Voltear una lista y un string

A. Crea una función que voltee un string

Pistas: 
1. Puedes usar el índice para obtener el último valor
2. Puedes usar un loop
3. Puedes usar un while loop

B. Crear una función que reverse una lista

C. Cuenta cuánto tiempo te toman las funciones y compáralo con reverse

In [ ]:
def reverse_slicing(s):
    return s[::-1]

In [ ]:
def reverse_for_loop(s):
    s1 = ''
    for c in s:
        s1 = c + s1  # appending chars in reverse order
    return s1

In [ ]:
reverse_for_loop("cide2021")

c
c
i
ic
d
dic
e
edic
2
2edic
0
02edic
2
202edic
1
1202edic

'1202edic'

In [ ]:
def reverse_while_loop(s):
    s1 = ''
    length = len(s) - 1
    print(length)
    while length >= 0:
        print(length)
        print(s[length])

        s1 = s1 + s[length]
        print(s1)
        length = length - 1
    return s1

In [ ]:
reverse_while_loop("cide")

3
3
e
e
2
d
ed
1
i
edi
0
c
edic

'edic'

In [ ]:
def reverse_equipo6(s):
  s2=""
  lista=[]
  lista2=[]

  for i in s:
      lista.append(i)


  while lista:
      lista2.append(lista[len(lista)-1])
      lista.pop()

  for i in lista2:
      s2=s2+i
  
  return s2

In [ ]:
import timeit

s = "carlos"

def t_reverse_slicing():
    reverse_slicing(s)
    
def t_reverse_for_loop():
    reverse_for_loop(s)
    
def t_reverse_while_loop():
    reverse_while_loop(s)

def t_reverse_equipo6():
    reverse_equipo6(s)

print(timeit.timeit(t_reverse_slicing))
print(timeit.timeit(t_reverse_for_loop))
print(timeit.timeit(t_reverse_while_loop))
print(timeit.timeit(t_reverse_equipo6))

0.296380438000142
0.7953495869996914
1.2264521819997753
2.962875301999702

In [ ]:
Crear una función que reverse una lista

In [ ]:
def reverse_replace(A):
    start = 0 
    end = len(A) - 1
    while start < end:
        A[start], A[end] = A[end], A[start]
        start += 1
        end -= 1
    return A

In [ ]:
def reversa_1(l):
    for i in range(int(len(l)/2)):
        l[i], l[len(l)-1-i] = l[len(l)-1-i], l[i]
    return l

In [ ]:
def voltear(l):
    prueba_v = []
    for x in range(1,len(l)+1):
        i = l[-x]
        prueba_v.append(i)
    return prueba_v

In [ ]:
def reversa_2(lista):
    lista_rev = []
    for i in range(len(lista)):
        lista_rev.append(lista[-i-1])
    return lista_rev

In [ ]:
def reverse_for(alist):
    import math
    for i in range(math.floor(len(alist) / 2)):
        left_value = alist[i]
        right_value = alist[-i-1]
        alist[i] = right_value
        alist[-i-1] = left_value
    
    return alist

print(reverse_for([1,2,3,4,5,6]))

[6, 5, 4, 3, 2, 1]

In [ ]:
alist = [1,2,3,4,5,6,7]

def reverse_indexing(alist):
    blist = list()
    for item in alist[::-1]:
        blist.append(item)
    
    return blist #prints [7,6,5,4,3,2,1]

reverse_indexing(alist)

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
import timeit

s = [1,2,3,4,5,6,7]

def t_reverse_replace():
    reverse_replace(s)
    
def t_reverse_for():
    reverse_for(s)
    
def t_reverse_indexing():
    reverse_indexing(s)
    
def t_reverse():
    list(reversed(s))

def t_reversa1():
    reversa_1(s)

def t_voltear():
    voltear(s)

def t_reversa2():
    reversa_2(s)

print(timeit.timeit(t_reverse_for))
print(timeit.timeit(t_reverse_indexing))
print(timeit.timeit(t_reverse))
# print(timeit.timeit(t_reversa1))
print(timeit.timeit(t_reversa2))
print(timeit.timeit(t_voltear))

1.5662441969998326
1.1314246460005961
0.5818602959998316
1.617615221000051
1.5452655839999352